/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
  height: 100vh;
}

p {
  color: #d8d8d8;
	line-height: 1.4rem;
}

a {
  color: #ffc04a !important;
  text-decoration: none;
}